
<input type="hidden" name="current_user" value="<%= @current_user %>">
<section id="posts_scroll">
  <% my_post.each do |post| %>
  <%  usr=User.find(post.user_id) %>
    <article class="post_art">
      <a class="post_u" href="/profile_view/user_id=<%= post.user_id %>" >User: <%= usr.username.capitalize%></a>
      <span class="post_tp">Checkout <%= usr.username.capitalize%>'s profile</span>
      <p class="post_t"> Title: <%= post.post_title %></p>
      <p class="post"> Post: <%= post.post_body %></p>
    </article>
  <% end %>
</section>


<div id="post_all_container"
<% @post.each do |post| %>
  <div id="post_all">
  <p id="post_all_title">
    <strong><%= post.post_title %></strong>
  </p>
  <p id="post_all_body">
  <%= post.post_body %>
</p>
</div>
<% end %>
</div>
