<form id="prof_ro_f" class="prof_f" method="post" action="/profile_view/<%= @profile.id %>">
    <input type="hidden" name="_method" value="put">
    <input class="prof_ro" type="text" name="fname" value="<%= @profile.fname %>" placeholder="First name" readonly>
    <input class="prof_ro" type="text" name="lname" value="<%= @profile.lname %>" placeholder="Last name" readonly>
    <input class="prof_ro" type="email" name="email" value="<%=@profile.email%>" placeholder="youremal@gmail.com" readonly>
    <% if @profile.bday %>
      <input class="prof_ro" type="text" name="bday" value="<%=@profile.bday.strftime%>" placeholder="Birthday- mm/dd/yyyy" readonly>
      <% else %>
      <input class="prof_ro" type="text" name="bday" value="" placeholder="Birthday- mm/dd/yyyy" readonly>
    <% end %>
    <input class="prof_ro" type="textarea" name="bio" rows="8" cols="80" value="<%=@profile.bio%>" placeholder="Tell me about yourself" readonly></input>
    <% if @current_user == @profile.user_id %>
    <a id="prof_edt_btn" class="prof_ro" href="/profile_edit/<%= @profile.id %>">Edit Profile</a>
    <a id="prof_del_btn" class="prof_ro" href="/delete_account/<%= @profile.user_id %>">Delete Account</a>
    <% else %>
    <a id="prof_view_post_btn" class="prof_ro" href="/posts/<%= @profile.user_id %>">Catch up with <%= @profile.fname.capitalize%>'s post</a>
    <% end %>
</form>
