<div id="profile_name">
  <%= @profile.fname %>
  <%= @profile.lname %>
</div>
<div id="profile_email">
  Email: <%= @profile.email %>
</div>

Birthday: <%= @profile.bday %>
Bio: <%= @profile.bio %>
<%= @profile.user_id %>

<a id="edit_link"href="">Edit Profile</a>
<!-- Hide form unless link click js -->

<form id="edit_form" method="post" action="/profile_edit/<%= @profile.id %>">
    <input type="hidden" name="_method" value="put">
    <input type="text" name="fname" value="<%= @profile.fname %>">
    <input type="text" name="lname" value="<%= @profile.lname %>">
    <input type="email" name="email" value="<%=@profile.email%>">
    <input type="text" name="bday" value="<%=@profile.bday%>">
    <textarea name="bio" rows="8" cols="80" value="@profile.bio"></textarea>
    <button id="submit_edit"type="submit">Update Profile</button>
</form>
